@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    transition: transform 0.3s ease;
    font-family: 'Lato', sans-serif;
}
body.show-nav {
    transform: translateX(200px);
}
main{
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.menu a{
    text-decoration: none;
    color: #fff;
}
nav{
    background-color: var(--primary-color);
    border-right: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
}
li:nth-last-of-type(1) {
    border-bottom: 2px #56569596 solid;
}
li {
    border-top: 2px #56569596 solid;
    padding: 27px 0;
    font-size: 20px;
}
nav li{
    border-bottom: 2px #56569596 solid;
}
a {
    margin-left: 10px;
}
ul{
    text-align: left;
}
.logo img{
    display: block;
    justify-content: center;
    border-radius: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding-bottom: 20px;
}
header h1,p{
    color: #fff;
}
.toggle{
    align-self: flex-start;
    margin: 20px 0 0 20px;
}
:root{
    --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd
}
.toggle{ 
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: none;
    background-color: rgba(5, 5, 5, 0.424);
}
.cta-btn{
    background-color: blue;
    color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 10%;
    border: none;
}
.border-active {
    border-left: 2px #56569596 solid;

}

.width-second-position {
    width: 100%;
}
.quote {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 30px;
}
form{
    width: 900px;
    margin: 0 auto;
    position: absolute;
    display: none;
    z-index: 100;
    padding: 10px;
    border-radius: 40%;
    background-color: white;
    transition: transform 0.3s ease;
    z-index: -100;
}
form p{
    color: #000;
}
form .header{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: #fff;
}
form .header .close{
position: absolute;
right: 32px;
width: 32px;
height: 32px;
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #fff;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
.form-display{
    display: block;
    z-index: 1;
}
textarea{
    resize: none;
}




.modal-container{ 
    background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-container.show-modal {
  display: block;
}
.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}

.modal-content {
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.project a{
  color: #000;
  text-decoration: none;
}