*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    transition: transform 0.3s ease;
}
body.show-nav {
    transform: translateX(200px);
}
a{
    text-decoration: none;
    color: #fff;
}
nav{
    background-color: var(--primary-color);
    border-right: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
}
li:nth-last-of-type(1) {
    border-bottom: 2px #56569596 solid;
}
li {
    border-top: 2px #56569596 solid;
    padding: 27px 0;
    font-size: 20px;
}
nav li{
    border-bottom: 2px #56569596 solid;
}
a {
    margin-left: 10px;
}
ul{
    text-align: left;
}
.logo img{
    display: block;
    justify-content: center;
    border-radius: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding-bottom: 20px;
}
header h1,p{
    color: #fff;
}
.toggle{
    align-self: flex-start;
    margin: 20px 0 0 20px;
}
:root{
    --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd
}
.toggle{ 
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 10%;
    border: none;
    background-color: rgba(5, 5, 5, 0.424);
}
.cta-btn{
    background-color: blue;
    color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 10%;
    border: none;
}
.border-active {
    border-left: 2px #56569596 solid;

}

.width-second-position {
    width: 100%;
}
.quote {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 30px;
}